<h4>Квартиры посуточно во Львове</h4>

<div id="room">

  <% @rooms.each do |room| %>

       <img width="200px" height="150px" src="<%= room.pic %>" />

       <div id="line_room"></div>

       <div id="tittle"> <%= room.tittle %><%= link_to '.', :action => :show, :id => room.id %> </div>

       <div id="rooms" <%= room.rooms %>  </div>  <div id="address"> <%= room.address %> </div>

       <div id="price"><h2><%= room.price %> </h2>  </div> <div id="cena"> грн./сутки </div>


       <%#= link_to 'Edit', :action => :edit, :id => room.id %>
       <%#= link_to 'Destroy', { :action => :destroy, :id => room.id }, :method => :delete, :confirm => 'Are you sure?' %>

  <% end %>

  </div>


