<h1>Listing rooms</h1>

<table>

  <% @rooms.each do |room| %>
    <tr>
      <td> <img width="200px" src="<%= room.pic %>" alt="" /></td>

      <td> <%= room.tittle %><%= link_to 'Show', :action => :show, :id => room.id %></td>
      <td> <%= room.city %>    </td>
      <td> <%= room.address %> </td>
      <td> <h3><%= room.price %>  </h3> </td>

       <%#= link_to 'Edit', :action => :edit, :id => room.id %>
      <td> <%= link_to 'Destroy', { :action => :destroy, :id => room.id }, :method => :delete, :confirm => 'Are you sure?' %></td>
    </tr>
  <% end %>
</table>


