<p>

  <%= @room.tittle %>
</p>

<p>
  <%= @room.city %>
</p>

<p><img src="<%= @room.pic %>" /></p>

<p><%= @room.address %></p>
<p><%= @room.rooms %></p>
<p><%= @room.price %></p>

<%= @room.text %>

<p>
<%= link_to 'Back', :action => :index %>
</p>


<%#= link_to 'Edit Post', edit_rooms_path(@room) %>
<%#= link_to 'Back to Posts', rooms_path_path %>
