
<div id="room_all">
  <div id="room_tittle"> <%= @room.tittle %></div>
  <div id="room_price"> <%= @room.price %> грн./сутки</div>
  <div id="room_city"> <%= @room.city %> <%= @room.address %> </div>
  <div id="room_address">  </div>
  <div id="room_pic"> <img src="<%= @room.pic %>" /></div>
  <div id="room_rooms"> <%= @room.rooms %></div>
  <div id="room_text"> <%= @room.text %></div>
</div>

<p>
<%= link_to 'Back', :action => :index %>
</p>


<%#= link_to 'Edit Post', edit_rooms_path(@room) %>
<%#= link_to 'Back to Posts', rooms_path_path %>
