<p>
  <strong>Title:</strong>
  <%= @room.tittle %>
</p>

<p>
  <strong>City:</strong>
  <%= @room.city %>
</p>

<%= @room.address %>
<%= @room.rooms %>
<%= @room.price %>
<%= @room.pic %>
<%= @room.text %>

<%#= link_to 'Edit Post', edit_rooms_path(@room) %> |
<%#= link_to 'Back to Posts', rooms_path_path %>